<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="icon" type="image/png" href="/images/Contact Form Favicon.png">
</head>
<body>
    <div class="container">
        <header>
            <h1>Your Entry:</h1>
        </header>
        <p>First Name: <%= details.fname %></p>
        <p>Last Name: <%= details.lname %></p>
        <p>Job Title: <%= details.job %></p>
        <p>Company: <%= details.company %></p>
        <p>LinkedIn URL: <%= details.linkedin %></p>
        <p>Email Address: <%= details.email %></p>
        <p>How did we meet: <%= details.meet %></p>
        <p>Message: <%= details.message %></p>
        <p>Added to Mailing List: <%= details.mailinglist %></p>
        <p>Email Format: <%= details.radio %></p>
    </div>
</body>
</html>